.search {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #808080;

  display: flex;
  justify-content: space-between;
}
.search input {
  width: 92%;
  padding: 10px 12px;
  outline: none;
  border: none;
}

.search input:focus {
  border: solid 2px #20b2aa;
}

.search button:hover {
  color: #ff8c00;
}
